.pixel-art-button-on,
.pixel-art-button-off {
  background-size: cover;
  height: 30px;
  width: 36px;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.pixel-art-button-on {
  background-image: url("../HomeCard/assets/heart-on.png");
}

.pixel-art-button-off {
  background-image: url("../HomeCard/assets/heart-off.png");
}
