.pixel-art-button-on,
.pixel-art-button-off {
  background-size: cover;
  height: 36px;
  width: 36px;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.pixel-art-button-on {
  background-image: url("/var/www/html/Projet/Geekops/Front/Geekops/public/coeur2.png");
}

.pixel-art-button-off {
  background-image: url("/var/www/html/Projet/Geekops/Front/Geekops/public/coeur1.png");
}
